a {
	color: $link-color;

	&:visited {
		color: lighten( $link-color, 10% );
	}
	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}