// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}