// Add your custom variables here

// COLORS
// 

$color-primary-root: #3f0678;
$color-primary-dk: #7951a0;
$color-primary-md: #b39cc9;
$color-primary-lt: #d0c2de;
$color-primary-xl: #ede8f2;
$color-ana-red: #7a0664;
$color-ana-blue: #060978;