.site-description {
	font-size: 20px;
	margin:10px 0 24px;
}

//temp for styling
//
#masthead {
	// background: $color-primary-xl;
	border-bottom: 1px solid $color-primary-md;
	margin-bottom: 1.5em;
}

#colophon {
	padding: 2em 0 0;
	margin-top: 2em;
	font-size: .85em;
	color: $color-primary-dk;
	background: $color-primary-lt;
	border-top: 1px solid $color-primary-md;
	a {
		color: $color-primary-xl;
	}
	.footer-widgets {
		padding-bottom: 2em;
	}
	.site-info {
		text-align: center;
		border-top: 1px solid #ede8f2;
		padding: 1em 0;
		color: $color-primary-xl;
	}
}