// Insert custom typography here

body {
	font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display";
}
#content a {
	color: $color-primary-dk;
	&:hover {
		color: $color-primary-md;
	}
}